.contactContainer{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    color: #181818;
    background-color: white;
    justify-content: center;
    transition: 2s;
    & button{
        margin-top: 2rem;
    }
    & hr{
        color: #9e9e9e;
        opacity: 0.5;
        width: 75%;
        height: 1px;
    }
    &__form{
        display: grid;
        padding: 3rem;
        margin-left: auto;
        margin-right: auto;
        min-height: fit-content;
        line-height: 3rem;
        text-align: center;
        & h1{
            font-size: 3rem;
        }
        & h4{
            font-size:1.5rem;
            font-weight: 400;
            width: 75%;
            display: grid;
            margin-left: auto;
            margin-right: auto;
        }
    } 
    &__isDark{  
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    background-color: #181818;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    transition: 2s;
        & button{
        margin-top: 2rem;
    }

    & hr{
        color: #9e9e9e;
        opacity: 0.5;
        width: 75%;
    }

    &__form{
        display: grid;
        padding: 3rem;
        margin-left: auto;
        margin-right: auto;
        line-height: 3rem;
        text-align: center;
        & h1{
            font-size: 3rem;
        }
        & h4{
            font-size:1rem;
            font-weight: 400;
        }
    }  
    
}
}

.inputContainer{
    display: grid;
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    &__each {
            & input {
                margin-left: 2vh;
                resize: none;
                border: none;
                border-bottom: 0.5vh solid rgb(158, 158, 158);
                &:focus {
                    outline: none;
                    border-bottom: 0.5vh solid #181818;
                    transition: 0.2s;
                }                   
            }
            label{
                display: inline-block;
                width: 80px;
              }

            &--error {
                color: red;
                padding-left: 80px;
                font-size: 0.75rem;
            }
        }
        &__button {
            border: none;
            color: #181818;
            background-color: white;
            border-radius: 1vh;
            height: 2rem;
            width: 100%;
            font-size: 1.25rem;
            cursor: pointer;
            &:hover {
                filter: saturate(2);
                transition: 0.5s;
            }
            &--disabled {
                border: none;
                color: white;
                background-color: #181818;
                border-radius: 1vh;
                font-size: 1.25rem;
                height: 3rem;
                width: 100%;
                opacity: 0.2;
                transition: 0.5s;
                cursor: not-allowed;
            }
        }
        &__buttonIsDark {
            border: none;
            color: white;
            background-color: #181818;
            border-radius: 1vh;
            height: 2rem;
            width: 100%;
            font-size: 1.25rem;
            cursor: pointer;
            &:hover {
                filter: saturate(2);
                transition: 0.5s;
            }
            &--disabled {
                border: none;
                color: #181818;
                background-color: white;
                border-radius: 1vh;
                font-size: 1.25rem;
                height: 3rem;
                width: 100%;
                opacity: 0.2;
                transition: 0.5s;
                cursor: not-allowed;
            }
        }
        

}

@media only screen and (max-width: 768px) {

    .contactContainer,.contactContainer__isDark{
        grid-area: then;

        & h1,h4{
            width: 100%;
            padding: 2rem 0 2rem 0;
        }
    }


    .inputContainer__each--error{
        padding-left: 0px;
    }

}
