$black: #18191A;


.navBarContainer {
    display: grid;
    height: 100%;
    color: $black;
    grid-template-columns: 1fr;
    right: 50px;
    position: fixed;
    transition: 2s;
    & ul {
        display: grid;
        justify-content: center;
        text-align: center;
        padding-top: 3rem;
        & li {
            height: 2rem;
            width: 2rem;
        }
        & img {
            height: 2rem;
            width: 2rem;
            transition: 2s;
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
        & #lightBulb {
            transform: rotate(180deg);
            cursor: pointer;
        }
    }
    &__isDark {
        display: grid;
        height: 100%;
        color: white;
        right: 50px;
        position: fixed;
            grid-template-columns: 1fr;
        transition: 2s;
        & ul {
            display: grid;
            justify-content: center;
            text-align: center;
            padding-top: 3rem;
            & #lightBulb {
                cursor: pointer;
            }
        
        }
        & li {
            height: 2rem;
            width: 2rem;
        }
        & img {
            height: 2rem;
            width: 2rem;
            transition: 2s;
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .navBarContainer {
        grid-area: navbar;
        display: flex;
        flex-direction: row;
        height: 12vh;
        position: sticky;
        top: 10px;
        background-color: white;
        padding: 0;
        & ul {
            display: flex;
            padding: 1rem 0 1rem 0;
            justify-content: space-around;
            width: 100%;
            flex-direction: row;
        }
        &__isDark {
            display: flex;
            grid-area: navbar;
            flex-direction: row;
            height: 12vh;
            position: sticky;
            top: 10px;
            background-color: $black;
            padding: 0;
            & ul {
                display: flex;
                padding: 1rem 0 1rem 0;
                justify-content: space-around;
                width: 100%;
                flex-direction: row;
            }
        }
    }
}
