.socialMediaContainer{
    display: grid;
    align-items: center;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    &__each{
        display: grid;
        justify-content: center;
        opacity: 0.7;
        & img{
            display: grid;
            align-self: center;
            width: 4rem;
            height: 4rem;
            &:hover{
                opacity: 1;
                filter: saturate(1.5);
            }
        }
    }
}