html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landingDisposition {
  width: 100%;
  min-height: 100vh;
  color: #18191A;
  overflow-y: hidden;
  display: grid;
  font-family: "Rajdhani", sans-serif;
  grid-template-columns: 6fr 1fr;
  background-color: WHITE;
  transition: 2s;
}

.landingDisposition__isDark {
  width: 100%;
  min-height: 100vh;
  color: white;
  overflow-y: hidden;
  display: grid;
  font-family: "Rajdhani", sans-serif;
  grid-template-columns: 6fr 1fr;
  background-color: #18191A;
  transition: 2s;
}

.mainTextContainer {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  text-transform: uppercase;
  text-align: center;
  transition: 2s;
}

.mainTextContainer h1 {
  font-size: 5rem;
}

.mainTextContainer__isDark {
  display: grid;
  place-content: center;
  color: white;
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  text-transform: uppercase;
  transition: 2s;
}

.mainTextContainer__isDark h1 {
  font-size: 5rem;
}

.cornerGithubContainer {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 75px solid transparent;
  border-top: 75px solid transparent;
  border-left: 75px solid #18191A;
  border-bottom: 75px solid #18191A;
  transform: rotateZ(90deg);
  place-content: center;
  transition: 2s;
}

.cornerGithubContainer img {
  height: 4rem;
  width: 4rem;
  margin-left: -4rem;
  transform: rotate(45deg);
  transition: 2s;
  opacity: 0.7;
}

.cornerGithubContainer img:hover {
  transform: rotate(-45deg);
  opacity: 1;
  transition: 2s;
}

.cornerGithubContainer__isDark {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 75px solid transparent;
  border-top: 75px solid transparent;
  border-left: 75px solid white;
  border-bottom: 75px solid white;
  transform: rotateZ(90deg);
  place-content: center;
  transition: 2s;
}

.cornerGithubContainer__isDark img {
  height: 4rem;
  width: 4rem;
  margin-left: -4rem;
  transform: rotate(45deg);
  opacity: 0.7;
  transition: 2s;
}

.cornerGithubContainer__isDark img:hover {
  transform: rotate(-45deg);
  opacity: 1;
  transition: 2s;
}

@media only screen and (max-width: 768px) {
  .landingDisposition, .landingDisposition__isDark {
    grid-template-columns: 1fr;
    overflow-y: visible;
    grid-template-areas: "navbar" "then";
  }
  .mainTextContainer,
  .mainTextContainer__isDark {
    margin-top: -20rem;
    display: grid;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    place-content: center;
    grid-area: then;
  }
  .mainTextContainer h1,
  .mainTextContainer__isDark h1 {
    font-size: 1.7rem;
  }
  .cornerGithubContainer {
    display: none;
  }
  .cornerGithubContainer__isDark {
    display: none;
  }
}

.navBarContainer {
  display: grid;
  height: 100%;
  color: #18191A;
  grid-template-columns: 1fr;
  right: 50px;
  position: fixed;
  transition: 2s;
}

.navBarContainer ul {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

.navBarContainer ul li {
  height: 2rem;
  width: 2rem;
}

.navBarContainer ul img {
  height: 2rem;
  width: 2rem;
  transition: 2s;
}

.navBarContainer ul img:hover {
  transform: scale(1.1);
  transition: 1s;
}

.navBarContainer ul #lightBulb {
  transform: rotate(180deg);
  cursor: pointer;
}

.navBarContainer__isDark {
  display: grid;
  height: 100%;
  color: white;
  right: 50px;
  position: fixed;
  grid-template-columns: 1fr;
  transition: 2s;
}

.navBarContainer__isDark ul {
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

.navBarContainer__isDark ul #lightBulb {
  cursor: pointer;
}

.navBarContainer__isDark li {
  height: 2rem;
  width: 2rem;
}

.navBarContainer__isDark img {
  height: 2rem;
  width: 2rem;
  transition: 2s;
}

.navBarContainer__isDark img:hover {
  transform: scale(1.1);
  transition: 1s;
}

@media only screen and (max-width: 768px) {
  .navBarContainer {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    height: 12vh;
    position: sticky;
    top: 10px;
    background-color: white;
    padding: 0;
  }
  .navBarContainer ul {
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
  .navBarContainer__isDark {
    display: flex;
    grid-area: navbar;
    flex-direction: row;
    height: 12vh;
    position: sticky;
    top: 10px;
    background-color: #18191A;
    padding: 0;
  }
  .navBarContainer__isDark ul {
    display: flex;
    padding: 1rem 0 1rem 0;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
}

.profileCardContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem;
}

.profileCardContainer__img {
  display: grid;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.profileCardContainer__img img {
  display: grid;
  border-radius: 100%;
  filter: grayscale(2);
  height: 50vh;
  width: 50vh;
}

.profileCardContainer__img img:hover {
  transition: 2s;
  filter: grayscale(0);
}

.profileCardContainer__text {
  display: grid;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: left;
}

.profileCardContainer__text--menu ul {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.profileCardContainer__text--menu ul li {
  cursor: pointer;
}

.profileCardContainer__text--menu ul li:hover {
  filter: saturate(2);
  transform: scale(1.1);
}

.profileCardContainer__text--menu ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: white;
  transition: transform 0.3s;
}

.profileCardContainer__text--menu ul li:hover:after {
  transition: .5s;
  transform: scaleX(1);
}

.profileCardContainer__text--menu ul li#isActive {
  font-weight: bold;
  text-transform: uppercase;
}

.profileCardContainer__text--menuIsDark ul {
  display: flex;
  flex-flow: row wrap;
  gap: 2.5rem;
  margin-bottom: 1.5rem;
}

.profileCardContainer__text--menuIsDark ul li {
  cursor: pointer;
}

.profileCardContainer__text--menuIsDark ul li:hover {
  filter: saturate(2);
  transform: scale(1.1);
}

.profileCardContainer__text--menuIsDark ul li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #18191A;
  transition: transform 0.3s;
}

.profileCardContainer__text--menuIsDark ul li:hover:after {
  transition: .5s;
  transform: scaleX(1);
}

.profileCardContainer__text--menuIsDark ul li#isActive {
  font-weight: bold;
  text-transform: uppercase;
}

#cv {
  color: red;
}

#cv a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .profileCardContainer {
    grid-area: then;
    grid-template-columns: 1fr;
    padding: 3rem 0 0 0;
  }
  .profileCardContainer li {
    list-style: none;
    padding: .5rem 2rem;
  }
  .profileCardContainer p {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  .profileCardContainer__img {
    border-radius: 0%;
  }
  .profileCardContainer__img img {
    margin-top: -2rem;
    border-radius: 0%;
  }
  .profileCardContainer__text--menu ul {
    padding-top: 1rem;
    justify-content: center;
  }
  .profileCardContainer__text--menuIsDark ul {
    padding-top: 1rem;
    justify-content: center;
  }
}

.portfolioTitle {
  display: none;
  justify-content: center;
  padding-top: 5rem;
}

.portfolioTitle h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: #181818;
  transition: 2s;
}

.projectsContainer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}

.projectsContainer a {
  text-decoration: none;
  color: #181818;
}

.projectsContainer__box {
  display: grid;
  justify-content: center;
  height: fit-content;
  margin: 3rem;
}

.projectsContainer__box img {
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: grayscale(1);
}

.projectsContainer__box img:hover {
  opacity: 0.75;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  filter: saturate(1.5);
  transition: 2s;
}

.projectsContainer__isDark {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  color: white;
  transition: 2s;
}

.projectsContainer__isDark h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}

.projectsContainer__isDark a {
  text-decoration: none;
  color: white;
}

.projectsContainer__isDark img {
  filter: grayscale(1);
}

.projectsContainer__isDark img:hover {
  opacity: 0.75;
  box-shadow: 0px 12px 18px -6px #727171;
  filter: saturate(1.5);
  transition: 2s;
}

@media only screen and (max-width: 425px) {
  .portfolioTitle {
    display: grid;
  }
}

.contactContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  color: #18191A;
  background-color: white;
  justify-content: center;
  transition: 2s;
}

.contactContainer button {
  margin-top: 2rem;
}

.contactContainer__form {
  display: grid;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  min-height: fit-content;
  line-height: 3rem;
  text-align: center;
}

.contactContainer__form h1 {
  font-size: 3rem;
  padding: 0 0 2rem 0;
}

.contactContainer__form h4 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 75%;
  color: #9e9e9e;
  text-transform: uppercase;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0 2rem 0;
}

.contactContainer__isDark {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  background-color: #18191A;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  transition: 2s;
}

.contactContainer__isDark button {
  margin-top: 2rem;
}

.contactContainer__isDark__form {
  display: grid;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 3rem;
  text-align: center;
}

.contactContainer__isDark__form h1 {
  font-size: 3rem;
}

.contactContainer__isDark__form h4 {
  font-size: 1rem;
  font-weight: 400;
}

.inputContainer {
  display: grid;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #9e9e9e;
  padding: 2rem 0 2rem 0;
}

.inputContainer__each input {
  margin-left: 2vh;
  border: none;
  background-color: transparent;
  border-bottom: 0.5vh solid #9e9e9e;
}

.inputContainer__each input:focus {
  outline: none;
  border-bottom: 0.5vh solid #18191A;
  transition: 0.2s;
}

.inputContainer__each label {
  display: inline-block;
  width: 80px;
}

.inputContainer__each--isDark input {
  margin-left: 2vh;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 0.5vh solid #9e9e9e;
}

.inputContainer__each--isDark input:focus {
  outline: none;
  border-bottom: 0.5vh solid white;
  transition: 0.2s;
}

.inputContainer__each--isDark label {
  display: inline-block;
  width: 80px;
}

.inputContainer__each--error {
  color: red;
  padding-left: 80px;
  font-size: 0.75rem;
}

.inputContainer__button {
  border: none;
  color: #18191A;
  background-color: white;
  border-radius: 1vh;
  height: 2rem;
  width: 100%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 2s;
}

.inputContainer__button:hover {
  filter: saturate(2);
  transition: 0.5s;
}

.inputContainer__button--disabled {
  border: none;
  color: white;
  background-color: transparent;
  color: #18191A;
  border-radius: 1vh;
  font-size: 1.25rem;
  height: 3rem;
  width: 100%;
  opacity: 0.2;
  transition: 0.5s;
  cursor: not-allowed;
}

.inputContainer__buttonIsDark {
  border: none;
  color: white;
  background-color: #18191A;
  border-radius: 1vh;
  height: 2rem;
  width: 100%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 2s;
}

.inputContainer__buttonIsDark:hover {
  transform: scale(1.01);
  transition: 0.5s;
}

.inputContainer__buttonIsDark--disabled {
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 1vh;
  font-size: 1.25rem;
  height: 3rem;
  width: 100%;
  opacity: 0.2;
  transition: 0.5s;
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .contactContainer, .contactContainer__isDark {
    grid-area: then;
  }
  .contactContainer h1, .contactContainer h4, .contactContainer__isDark h1, .contactContainer__isDark h4 {
    width: 100%;
    padding: 2rem 0 2rem 0;
  }
  .inputContainer__each--error {
    padding-left: 0px;
  }
}

.socialMediaContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.socialMediaContainer__each {
  display: grid;
  justify-content: center;
  opacity: 0.7;
  border-bottom: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.socialMediaContainer__each img {
  display: flex;
  flex-flow: wrap row;
  width: 2rem;
  height: 2rem;
}

.socialMediaContainer__each img:hover {
  opacity: 1;
  filter: saturate(1.5);
}
/*# sourceMappingURL=estilos.css.map */